



<footer  >
    <div class="container border-top mt-5   ">
      <div class="row mt-5">
        <div class="col">
           <a href=""> <i class="fa-solid fa-compass"></i></a>
          <p>
            &copy;  2024,  Airbnb Broking Ltd. All rights reserved.
          </p>
            <div class="f-info-links ">
               <a href="#" ><i class="fa-brands fa-square-facebook"></i></a>
               <a href=" https://www.instagram.com/half_engineer0034?igsh=ajhjamszcm9lbTFr "> <i class="fa-brands fa-square-instagram"></i></a>
               <a href="https://www.linkedin.com/in/ayush-kumar-prince-443700235?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app " ><i class="fa-brands fa-linkedin"></i></a>
    
            </div>
        </div>
        <div class="col f-info-links 
            "  >
          <p> <b> Company </b></p>
          <a  href="#">Airbnb your home</a>
          <br />
          <a href="#" >Newsroom</a>
          <br />
          <a href="">Pricing</a>
          <br />
          <a href="">Referral programme</a>
          <br />
          <a href="">Careers</a>
          <br />
          <a href="">New features</a>
          <br />
          <a href="">Press & media</a>
          <br />
          <a href="">Join a free Hosting class</a>
          <br />
        </div>
        <div class="col  f-info-links  ">
          <p> <b>Support </b></p>
          <a href="">Help Centre</a>
          <br />
          <a href="">AirCover</a>
          <br />
          <a href="">Anti-discrimination</a>
          <br />
          <a href="">Disability support</a>
          <br />
          <a href="">Cancellation options</a>
          <br />
        </div>
        <div class="col f-info-links   ">
          <p> <b>Hosting</b></p>
          <a href="">Open an account</a>
          <br />
          <a href="">Community forum</a>
          <br />
          <a href="">Hosting responsibly</a>
          <br />
        </div>
      </div>
      <div class="mt-5 text-muted  " >
        <p class="footer-bar">
          Hoting House Broking Ltd.: Member of NSE​ &​ BSE – SEBI Registration no.:
          INZ000031633 CDSL: Depository services through Zerodha Securities
          Pvt. Ltd. – SEBI Registration no.: IN-DP-100-2015 Commodity Trading
          through Zerodha Commodities Pvt. Ltd. MCX: 46025 – SEBI Registration
          no.: INZ000038238 Registered Address: Zerodha Broking Ltd.,
          #153/154, 4th Cross, Dollars Colony, Opp. Clarence Public School,
          J.P Nagar 4th Phase, Bengaluru - 560078, Karnataka, India. For any
          complaints pertaining to securities broking please write to
          complaints@zerodha.com, for DP related to dp@zerodha.com. Please
          ensure you carefully read the Risk Disclosure Document as prescribed
          by SEBI | ICF
        </p>

        <p class="footer-bar "  >
          Procedure to file a complaint on SEBI SCORES: Register on SCORES
          portal. Mandatory details for filing complaints on SCORES: Name,
          PAN, Address, Mobile Number, E-mail ID. Benefits: Effective
          Communication, Speedy redressal of the grievances
        </p>

        <p class="footer-bar">
          Investments in securities market are subject to market risks; read
          all the related documents carefully before investing.
        </p>

        <p class="footer-bar">
          "Prevent unauthorised transactions in your account. Update your
          mobile numbers/email IDs with your stock brokers. Receive
          information of your transactions directly from Exchange on your
          mobile/email at the end of the day. Issued in the interest of
          investors. KYC is one time exercise while dealing in securities
          markets - once KYC is done through a SEBI registered intermediary
          (broker, DP, Mutual Fund etc.), you need not undergo the same
          process again when you approach another intermediary." Dear
          Investor, if you are subscribing to an IPO, there is no need to
          issue a cheque. Please write the Bank account number and sign the
          IPO application form to authorize your bank to make payment in case
          of allotment. In case of non allotment the funds will remain in your
          bank account. As a business we don't give stock tips, and have not
          authorized anyone to trade on behalf of others. If you find anyone
          claiming to be part of Zerodha and offering such services, please
          create a ticket here.
        </p>
      </div>
    </div>
  </footer>


  <footer>
    <div class="f-info">
        <div class="f-info-socials">
           <a href="#" ><i class="fa-brands fa-square-facebook"></i></a>
           <a href=" https://www.instagram.com/half_engineer0034?igsh=ajhjamszcm9lbTFr"> <i class="fa-brands fa-square-instagram"></i></a>
           <a href=" https://www.linkedin.com/in/ayush-kumar-prince-443700235?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app " ><i class="fa-brands fa-linkedin"></i></a>

        </div>
        <div class="f-info-brand"> &copy Wanderlust private Limited Made By Sonam </div>
        <div class="f-info-links">
            <a href="/privacy">Privacy</a>
        </div>
    </div>
</footer>


