<% layout("/layouts/boilerplate") -%>
<div class="container border-bottom mb-5 navbar-expand-md ">
  <div class="text-center mt-5 p-3">
    <p> RESIDE MAGAZINE </p>
    <h1>Exceptional Locations,<br>Unrivaled Lifestyles. </h1>
    <p class="text-muted mt-3 fs-4  ">
      Conceived in the belief that home and living in full are inextricably entwined,<br> RESIDE® is the Wanderlust
       International Realty brand’s magazine devoted to the <br>finest in inspirational locales and lifestyles.
    </p>
    <p class="mt-3 mb-5">
      <a href="" >
        Explore More
        <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
      </a>
    </p>
  </div>
</div>
<div class="container">
    <div class="row p-5 mt-5 mb-5 ">
      <h1 class="fs-2 text-center">
        We pioneered the discount broking model in India
        <br />
        Now, we are breaking ground with our technology.
      </h1>
    </div>
    <div
      class="row p-5  align-items-start"
      style="line-height: 1.8;  font-size: 1.2rem; ">
      <div class="col-6 p-5 text-center  ">
        <p>
          <p><strong style="color: brown;">Our Wanderlust</strong> is coined from the word Learn in Vernacular Languages -   2+ million  clients contribute to over 15% of all retail
            order volumes in India.<br>
             Only one network of agents represents the longest standing tastemaker in the world. 
             In the spirit of innovation, an exceptional luxury real estate company bearing the<b>Wanderlust Property HUB  </b>  name was launched in <b >2024.</b><br>
            Beyond the beautiful properties and the personal touch of our agents, only one brand can deliver a lifestyle that caters to you.
           With a network of homes for sale worldwide, our website lets you search property listings globally, 
           and includes a large inventory of luxury homes for sale, including houses, condos, townhomes, villas, and more.</p>.
        </p>
      </div>
      <div class="col p-5 text-center  ">
        <p>
          In addition, we run a number of popular open online educational and
          community initiatives to empower retail traders and investors.
        </p>
        <p>
          <a href="" style="text-decoration: none;">
            Rainmatter
          </a>
          , our fintech fund and incubator, has invested in several fintech
          startups with the goal of growing the Indian capital markets.
        </p>
        <p>
          And yet, we are always up to something new every day. Catch up on
          the latest updates on our blog or see what the media is saying about
          us.
        </p>
        <p>
          Over 1+ Crore clients place millions of orders every day through our
          powerful ecosystem of investment platforms, contributing over 15% of
          all Indian retail trading volumes.
        </p>
      </div>
    </div>
  </div>
<hr>
<div class="container">
  <div class="row">
    <div class="col-4">
      <h1 class="mb-3 fs-2">Unbeatable pricing</h1>
      <p>
        We pioneered the concept of discount broking and price transparency
        in India. Flat fees and no hidden charges.
      </p>
      <a href=""  style="text-decoration: none;" >
        See Pricing
        <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
      </a>
    </div>
    <div class="col-2"></div>
    <div class="col-6  mb-5">
      <div class="row text-center">
        <div class="col p-3 border">
          <h1 class="mb-3">₹0</h1>
          <p>
            Free equity delivery and
            <br />
            direct mutual funds
          </p>
        </div>
        <div class="col p-3 border">
          <h1 class="mb-3">₹20</h1>
          <p>Intraday and F&O</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
    <div class="row p-3 mt-5 face-circle">
      <h1 class="text-center ">People</h1>
    </div>
    <div class="row p-3 text-muted">
      <div class="col-6 p-3 text-center">
        <img
          src="  /media/sonam.jpeg " alt="" 
          style="border-radius: 100%;  width: 50%;  height: 50%;"
        />
        <h4 class="mt-5">Sonam Kumari</h4>
        <h6>Founder, CEO</h6>
      </div>
      <div class="col-6 p-3 ">
        <p>
          Our team bootstrapped and founded Zerodha in 2010 to overcome the
          hurdles he faced during his decade long stint as a trader. Today,
          Zerodha has changed the landscape of the Indian broking industry.
        </p>
        <p>
          He is a member of the SEBI Secondary Market Advisory Committee
          (SMAC) and the Market Data Advisory Committee (MDAC).
        </p>
        <p>Playing basketball is his zen.</p>
        <p>
          Connect on <a href="">Homepage</a> / <a href="">TradingQnA</a>
          <a href="">Twitter</a>
        </p>
      </div>
    </div>
</div>
  
    <h2 class="sub-title mt-0 ">Our team
      <a href="" class="mx-2 "  >
        <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
      </a>
     </h2>
     <div class="exclusive">
      <div>
        <img src="/media/ay.jpeg">
        <p> Ayush kr.Prince <br>Co-founder & CFO </p>
      </div>
      <div>
        <img src="/media/su.jpeg">
        <p> Suraj Kumar <br>CTO</p>
      </div>
      <div>
        <img src="/media/shi.jpeg">
        <p> Shivam Kumar<br>CCO </p>
      </div>
      <div>
        <img src="/media/sha.jpeg">
        <p> Saurav Kumar <br>COO </p>
      </div>
     </div>
     <!---trust-->
<div class="container p-3">
  <div class="row p-5 align-items-start">
    <div class="col p-5">
      <h1 class="fs-2 mb-5" >Trust with confidence</h1>
      <h2 class="fs-4">Customer-first always</h2>
      <p class="text-muted">
        <strong style="color: brown;">Our Wanderlust</strong> is coined from the word Learn 
        in Vernacular Languages - <br>  2+ million  clients contribute to over 15% of all retail
        order volumes in India.<br>
      </p>
      <h2 class="fs-4">No spam or gimmicks</h2>
      <p class="text-muted">
        No gimmicks, spam, "gamification", or annoying push notifications.
        High quality apps that you use at your pace, the way you like.
      </p>
      <h2 class="fs-4">Who are we</h2>
      <p class="text-muted">
        Only one network of agents represents the longest standing tastemaker in the world. 
         In the spirit of innovation, an exceptional luxury real estate company bearing the<b>Wanderlust Property HUB  </b>  
         name was launched in <b >2024.</b><br>
      </p>
    </div>
    <div class="col p-5">
      <img src="https://www.learnvern.com/images/new-home-assets/about-mock-desktop.png" style="width: 90%;" />
      <div class="text-center">
        <a href="" class="mx-5" style="text-decoration: none;">
          Explore our products
          <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
        </a>
      </div>
    </div>
  </div>
</div>
