<% layout("/layouts/boilerplate") -%>
    <h2 class="sub-title">Exclusive
    <a href="" class="mx-2" >
        <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
      </a>
   </h2>
   <div class="cta">
    <h3>Sharing <br>Is Earning Now</h3>
    <p> Make core memories with Inside Out 2</p>
    <a href="#" class="cta-btn">Know More</a>
   </div>
<!--Services  -->
   <div class="container border-bottom mb-5">
    <div class="text-center mt-5 p-3">
      <h1>Our Services</h1>
      <h3 class="text-muted mt-3 fs-4">
        Sleek, modern and intuitive trading platforms
      </h3>
      <p className="mt-3 mb-5">
        Check out our
        <a href="" >
          investment offerings
          <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
        </a>
      </p>
    </div>
   <div class="container text-center">
    <div class="row align-items-center">
      <div class="col">
        <img src="/media/service-1.png" alt="Service icon">
        
        <h3 class="h3 card-title">
            <a href="#">Buy a home</a>
          </h3>
          <p class="card-text">
            over 1 million+ homes for sale available on the website, we can match you with a house you will want
            to call home.
          </p>
      </div>
      <div class="col">
        <img src="/media/service-2.png" alt="Service icon">
        <h3 class="h3 card-title">
            <a href="#">Rent a home</a>
          </h3>
          <p class="card-text">
            over 1 million+ homes for sale available on the website, we can match you with a house you will want
            to call home.
          </p>
      </div>
      <div class="col">
        <img src="/media/service-3.png" alt="Service icon">
        <h3 class="h3 card-title">
            <a href="#">Sell a home</a>
          </h3>
          <p class="card-text">
            over 1 million+ homes for sale available on the website, we can match you with a house you will want
            to call home.
          </p>
      </div>
    </div>
  </div>
   </div>
   <h2 class="sub-title">Trading places
    <a href="" class="mx-2" >
      <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
    </a>
   </h2>
   <div class="stories">
    <div>
        <img src="/media/property-1.jpg">
        <a href="#"> <p>Dubai</p></a>
    </div>
    <div>
        <img src="https://www.expatkings.com/wp-content/uploads/2018/10/Airbnb-rental-tips.-Hostmaker-1-620x349.jpg">
        <a href="#"><p>Dubai</p></a>
    </div>
    <div>
        <img src="/media/farm.webp">
        <a href="#"><p> 30 mins to Oxford Street, Excel London </p></a>
    </div>
    <div>
        <img src="/media/tent.webp">
        <a href="#"><p> London Studio Apartments </p></a>
    </div>
    <div>
        <img src="/media/tent1.webp">
        <a href="#"><p>Spacious Peaceful Modern Bedroom  </p></a>
    </div>
    <div>
        <img src="/media/tent3.webp">
        <a href="#"><p>  Luxury Apartment center of London</p></a>
    </div>
   </div>
   <div class="container mt-5">
    <div class="row align-items-start">
      <div class="col">
        <img src="/media/gif.gif"  style="height: 300px;  width: 400px;"/>
      </div>
      <div class="col-6">
        <h1 class="mb-3 fs-2">Free and open to Acess the APNAeducation</h1>
        <p>
          Varsity, the largest online stock market education book in the world
          covering everything from the basics to advanced trading.
        </p>
        <a href="" >
          Versity <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
        </a>
        <p class="mt-5">
          TradingQ&A, the most active trading and investment community in
          India for all your market related queries.
        </p>
        <a href="" >
          TradingQ&A <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
        </a>
      </div>
    </div>
  </div>






   
